body { 
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: sans-serif;
  padding: 20px;
}
hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}
img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: -25px;
}
.bottom-line {
  margin-top: 25px;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
.established {
  font-style: italic;
}
h1, h2, p {
  text-align: center;         
}
.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 500px;
}
.whatsappIcon {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

h1, h2 {
  font-family: Impact, serif;
}
.item p {
  display: inline-block;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.flavor, .dessert {
  text-align: left;
  width: 75%;
}
.price {
  text-align: right;
  width: 25%;
}
/* FOOOTER */
footer {
  font-size: 14px;
}
.address {
  margin-bottom: 5px;
}
a {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: brown;
}
a:active {
  color: brown;
}

